/* #region Debug */
.debug header {
    background-color: aqua;
}
.debug .jumbotron {
    height: 250px;
    background-color: aquamarine;
}
.debug .jumbotron>div {
    height: 200px;
}
.debug .card_portfolio {
    height: 100px;
    border: 1px solid;
}

/* header */
header h5 {
    text-transform: uppercase;
}
header i {
    text-align: right;
}
header .menu {
    text-align: right;
}