/* #region Debug */


.debug header {
    background-color: aqua;
}
.debug .jumbotron {
    height: 250px;
    background-color: aquamarine;
}
.debug .jumbotron .row>div {
    height: 200px;
}
.debug .card_portfolio,
.debug .date,
.debug .send {
    height: 100px;
    width: 100%;
    border: 1px solid;
}
.debug .about {
    background-color: bisque;
}
.debug .contact {
    background-color: brown;
}
.debug .contact_text {
    height: 300px;

}
.debug footer {
    background-color: black;
    color: white;
}
.debug .text_footer {
    height: 50px;
    border: 1px solid white;
}
.debug .start {
    height: 200px;
    border: 1px solid;
}
/* #endregion ************/

/* #region Common rules */
:root {
    --bs-primary: #1ABC9C;
    --bs-darker: #2C3E50;
    --bs-dark: #3A546D;
}
img {
    max-width: 100%;
}


/* #region Utilities */
.ms_bg_primary {
    background-color: var(--bs-primary);
}
.ms_bg_dark {
    background-color: var(--bs-dark);
}
.ms_bg_darker {
    background-color: var(--bs-darker);
}
.ms_text_wite {
    color: white;
}
.ms_ratio {
    aspect-ratio: 1;
}

    

header h5 {
    text-transform: uppercase;
}
header i {
    text-align: right;
}
header .menu {
    text-align: right;
}
.jumbotron {
    background-color: var(--bs-primary);
}
.jumbotron img {
    width: 10rem;
}
.ms_hr {
    margin-bottom:10px;
    width: 7rem;
    height: 3px;
    border-radius: 10px;
    background-color: white;
    border: none;
    opacity: 100;
    margin-left:0.5rem;
    margin-right: 0.5rem;
}
.portfolio .ms_hr,
.contact .ms_hr {
    margin-bottom:10px;
    width: 5rem;
    height: 3px;
    border-radius: 10px;
    background-color: black;
    border: none;
    margin-left:0.5rem;
    margin-right: 0.5rem;
    opacity: 100;
}
.about {
    background:var(--bs-primary)
}
.footer_top {
    background-color: var(--bs-dark);
}
.footer_top .ms_i {
    width: 2rem;
    aspect-ratio: 1;
    text-align: center;
    font-size: 0.8rem;
}
.footer_bottom {
    background-color: var(--bs-darker);
}

footer .ms_a {
    text-decoration: none;
    color: var(--bs-primary);
}